body{
    background-color: #00539CFF;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(66, 66, 66);
    display: grid;
  justify-content: center;
  align-content: center;
}

.content {
  text-align: center;
  background-color: lightgray;
  height: 650px;
  width: 500px;
  border: 1px black solid;
  display: grid;
  justify-content: center;
  align-content: center;
}

input{
    border: 2px black solid;
    border-radius: 5px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

textarea{
    border: 2px black solid;
    border-radius: 5px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

input:hover{
    border: 2px black dashed;
    border-radius: 5px;
    
}

textarea:hover{
    border: 2px black dashed;
    border-radius: 5px;
}

img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

#submit {
  height: 40px;
  width: 300px;
  background-color: #00539CFF;
  color: lightgray;
}

h1 {
  font-size: 32px;
  color: #EEA47FFF;
}

/* Radio button */

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  [type=radio] + img {
    cursor: pointer;
  }

  [type=radio] + img:hover {
    border: 2px black dashed;

  }
  
  [type=radio]:checked + img {
    outline: 2px solid rgb(0, 0, 0);

  }